<div class="ui attached message">
  <div class="header">
    Edit package
  </div>
  <p>Edit the details of the following course package</p>
</div>

<%= render "form.html", assigns %>

<span><%= link "Back", to: Routes.package_path(DeliveryWeb.Endpoint, :show, @package) %></span>
