
<h3>Course Packages</h3>

<div class="ui divider"></div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
<%= for package <- @packages do %>
    <tr>
      <td><%= package.friendly %></td>
      <td><%= link package.title, to: Routes.package_path(@conn, :show, package) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Package", to: Routes.live_path(DeliveryWeb.Endpoint, PackageLive.New) %></span>
