<div class="ui attached message">
  <div class="header">
    Create package
  </div>
  <p>Fill out the form below to create a new course package</p>
</div>

<%= render "form.html", assigns %>
      
<span><%= link "Back", to: Routes.package_path(DeliveryWeb.Endpoint, :index) %></span>