<%= form_for skill_changeset(@skill), Routes.skill_path(@conn, :update, @package.id, @skill), [style: "display: flex; flex: 1", class: "ui form"], fn f -> %>
<%= text_input f, :description %>
<%= submit "Save", class: "ui primary button" %>
<% end %>
