/* This file is for your main application css. */

@import "./phoenix.css";

.CountDisplay {
    border: 1px solid transparent;
}

.CountDisplay:hover {
    border-color: #1abc9c;
}

.CounterButtons {
    border: 1px solid transparent;
}

.CounterButtons:hover {
    border-color: #9b59b6;
}