<%= form_for objective_changeset(@objective), Routes.objective_path(@conn, :update, @package.id, @objective), [style: "display: flex; flex: 1", class: "ui form"], fn f -> %>
<%= text_input f, :description %>
<%= submit "Save", class: "ui primary button" %>
<% end %>
