<div class="ui accordion objectives">
  <%= render "header.html", assigns %>
  <%= if length(@objectives) == 0 do %>
    <div>No objectives</div>
  <% else %>
    <div class="active ui padded container segment content">
      <div class="ui list">
        <%= render_many @objectives, DeliveryWeb.ObjectiveView, "show.html", assigns %>
      </div>
    </div>
  <% end %>
</div>
