
<%= Phoenix.LiveView.live_render(@conn, DeliveryWeb.NotificationLive, session: %{activity_id: @activity_id}) %>

<h3 class="ui header"><%= @title %></h3>

<div class="ui segment"> 

    <div class="ui right rail">
    </div>
    <div class="ui left rail">
    </div>

    <div>
        <%= raw(@content) %>
    </div>

</div>

<%= if @next != nil do %>
<%= link "Next: " <> @next.title, to: Routes.course_path(@conn, :page, @section_id, @next.page_id) %>
<% end %>